/*Import de fuentes*/

@font-face{
    font-family: 'Tattoo';
    src: url('../fonts/Tattoo.TTF');
}
  
@font-face{
    font-family: 'Sink';
    src: url('../fonts/Sink.TTF');
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto.TTF');
}

body {
    margin: 0px;
    font-family: Roboto;
    background-color: #dbdbdb;
}

.sesion {
    text-decoration: none;
    color: white;
}

header {
    background-color: #f0a500;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__title {
    font-family: Tattoo;
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
    position: absolute;
    left: 845px;
    bottom: 90%;
}

.header__menu {
    margin-right: 10px;
    color: white;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -60px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 0px;
    width: 70px;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
}

.main {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 35px;
}

.categories__title {
    color: white;
    font-size: 35px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
    font-weight: bold;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 10px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px; 
}

.carousel-item {
    background-color: black;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    
}

.carousel-item__details--title {
      white-space: initial;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 20px;
}

.carousel-item__details--subtitle {
    font-size: 13px;
    position: absolute;
    left: 88px;
    bottom: 1%;
}

.carousel-item__newImg {
    font-size: 13px;
    position: absolute;
    left: 0px;
    bottom: 110%;
}

.carousel-item__buttons{
    position: absolute;
    left: 10px;
    bottom: 0;
}

.carousel-item__details img {
      width: 35px;
      height: 35px;
}

.input {
    border: 2px solid #ffac41;
    border-radius: 25px;
    color: white;
    font-family: Roboto;
    height: 50px;
    width: 50%;
    padding: 0px 20px;
    text-align: center;
}

.footer {
    background: #cf7500;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    padding-left: 30px;
}

.footer a:hover {
    text-decoration: underline;
}